html, body {
    height: 100%;
    margin: 0;
    overflow: hidden;
    font-family: 'Courier Prime', monospace;
}




.container {
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding-left: 245px;
    padding-right: 245px;
    .top-section {
        margin-top: 135px;
    }

    .bottom-section {
        margin-bottom: 135px;
        display: flex;
        align-items: flex-end;
        justify-content: space-between;
        p {
            font-size: 14px;
            color: #000;
            line-height: 30px;
            margin-bottom: 0;

            a {
                color: #000 !important;
                text-decoration: none !important;

                &:hover {
                    text-decoration: underline !important;
                }
            }

            &.regular {
                margin-bottom: 0;
            }
        }
    }
}

@media only screen and (max-width: 600px) {
    .container {
        padding-left: 60px;
        .top-section {
            margin-top: 60px;
        }

        .bottom-section {
            margin-bottom: 60px;
            p {
                font-size: 18px;
                line-height: 60px;

                &.regular {
                    display: none;
                }
            }
        }
    }
  } 


